name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install
        run: npm ci
        env:
          CI: true

      - name: Install Playwright Browsers
        run: npm exec playwright install --with-deps

      - name: Run tests
        run: npm run test

      - name: Run e2e tests
        run: npm run test:e2e:ci

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
